@forward 'element-plus/theme-chalk/src/common/var.scss' with (
  $text-color: (
    'primary': #fff,
    'regular': #def2fb,
  ),
  $bg-color: (
    "overlay": #2e537b
  ),
  $border-color: (
    "lighter": #ff6433
  )
);