
// 全局scss变量
$themeColor: #305680;
$themeLightColor: #2e537b;
$loginBtnColor: #ff6433;
$borderLineColor: #ff6433;
$borderRadius: 8px;
$loginFsColor: #ffffff;
$loginFsLightColor: #b7cade;
$BgColor: #eee;
$sideBarFontColor: #eee;
$sideBarHoverFontColor: #409eff;
$sideBarWidth: 250px;
$headerHeight: 64px;
