// 全局scss变量
$themeColor: #305680;
$themeLightColor: #2e537b;
$loginBtnColor: #ff6433;
$loginFsColor: #ffffff;
$loginFsLightColor: #b7cade;
$BgColor: #eee;
$sideBarFontColor: #eee;
$sideBarHoverFontColor: #409eff;
$sideBarWidth: 10%;
$headerHeight: 64px;
